<% if !Favorite.exists?(user_id: current_user.id, profile_id: profile.id) %>
  <%= link_to profile_favorites_path(profile.id), method: :post, remote: true, class:"favorite-btn" do %>
    <button><span class="favorite-count1">お気に入りに追加</span></button>
  <% end %>
<% else %>
  <%= link_to profile_favorite_path(profile_id: profile.id, id: profile.favorites[0].id), method: :delete, remote: true, class:"favorite-btn" do %>
    <button><span class="fafvorite-count2">お気に入りを解除</span></button>
  <% end %>
<% end %>